body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #0a0a23;
    color: aliceblue;
}   

a:hover {
    color: #041f2c;
    background-color: #a59c9c;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1px;
}

a {
    color: #ffe066;
    text-decoration: none;
}

ul {
    list-style: none;
}

fieldset {
    align-items: center;
    border: 2px solid #041f2c;
    border-radius: 15px;
}