body {
    background-image: url(./imges/coffee-beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

h1, h2, p {
    text-align: center;
}

h1, h2 {
    font-family: Impact, sans-serif;
}
h1 {
    font-size: 40px;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 30px;
}

.established {
    font-style: italic;
}

h2 {
    font-size: 30px;
}    
.menu {
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20PX;
    width: 80%;
    max-width: 500px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

img {
    display: block;
    margin: -25px auto 0 auto;
}

hr {
    border-color: brown;
}

a {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}